$nav-bg: #4cb2e7;
$footer-bg: #1788b1;

$link-nav-clr: #fff;
$link-hover-clr: #f9ed06;

$btn-common-clr: #f9ed06;
$btn-tabs-clr: #299fca;
$btn-tabs-hover-clr: #81ffff;
$btn-form-clr: #d6e6ef;

$border-radius: 6px;
$border-form-clr: #7ebee0;